services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - ./backend:/var/www/html
    environment:
      - DB_HOST=db
      - DB_USER=admin
      - DB_PASS=nautico2@
      - DB_NAME=hortifrutnectar
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`safrion-v1-app.pre9vq.easypanel.host`)"
      - "traefik.http.services.backend.loadbalancer.server.port=80"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    depends_on:
      - backend

  db:
    image: mysql:8.0
    restart: always
    container_name: safrion_v1_mysql
    environment:
      MYSQL_ROOT_PASSWORD: nautico2@
      MYSQL_DATABASE: hortifrutnectar
      MYSQL_USER: admin
      MYSQL_PASSWORD: nautico2@
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata: